


/* Start:/bitrix/templates/main/components/bitrix/catalog.section/board_top/style.css?1428039499105*/
.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

/* End */



/* Start:/bitrix/templates/main/components/bitrix/catalog.section/board_v2/style.css?1428039499105*/
.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

/* End */
/* /bitrix/templates/main/components/bitrix/catalog.section/board_top/style.css?1428039499105 */
/* /bitrix/templates/main/components/bitrix/catalog.section/board_v2/style.css?1428039499105 */
